<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <!-- Template Main CSS File -->
   <link rel="stylesheet" href="/static/css/vision.css">
   <link rel="icon" href="/static/images/camera.ico">
   
   <!-- Bootstrap CSS Files -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
   <script src="/static/js/index.js"></script>
   <!-- Tittle -->
   <title>VISI0NN</title>
</head>

<body>
   <!-- ======= Navbar Section ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <a href="home.html"><img src="/static/images/vision2.png" alt="" class="img-fluid"></a>
      </div>  
    </div>
  </header>
  <!-- End Navbar -->
  
  <!-- ======= Hero Section ======= -->
  <section>
    <div class="hero container d-flex flex-column align-items-center">
      <h1>Coming Soon</h1>
      <h2>We're are currently working on the website and we'll ready to launch after</h2>
      <div class="countdown d-flex justify-content-center" data-count="2023/12/5">
        <div>
          <h3>9</h3>
          <h4>Days</h4>
        </div>
        <div>
          <h3>15</h3>
          <h4>Hours</h4>
        </div>
        <div>
          <h3>30</h3>
          <h4>Minutes</h4>
        </div>
        <div>
          <h3>10</h3>
          <h4>Seconds</h4>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

</body>
</html>

